@page "/tipos"

<PageTitle>Tipos</PageTitle>

<h1>Tipos em C#</h1>
<div>
    <p>Segundo o site da Microsoft em seu tour pelo C#, o tipo é a definição e coportamento de todos os dados da linguagem C#. Ele pode ser do tipo de referência ou tipo de valor. A diferencça entre um e outro está no conteúdo armazenado em cada um deles. No tipo de valor o próprio valor é armazenado naquela região de memória (?stack?). Por exemplo, ao se armazenar o literal "3" em uma região de memória (?stack?) que foi separada para armazenar um inteiro (por meio da declaração e atribuição), esse valor "3" será gravado naquela região de memória (?stack?). Por outro lado, se estamos lidando com um tipo de referência, o valor desse tipo será armazenado em uma outra região de memória (?heap?) enquanto que a referência a esse valor será armazenada na memória em que um tipo de valor é gravado (?stack?).</p>
</div>

<TipoInteiro></TipoInteiro>
<hr/>
<TipoFlutuante></TipoFlutuante>
<hr/>
<TipoBooleano></TipoBooleano>
@code {





}
